* {
  font-family: 'Roboto';
  font-size: 103%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

.header {
  background-color: #f6f9fe;
  background-image: url('../img/headerbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom: 5px solid #5299D3;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.header img.logo {
  width: 250px;
  padding: 40px;
}

.title {
  text-align: center;
}

label {
  font-weight: 600;
}

label .desc {
  margin-left: 5px;
  font-size: 80%;
  opacity: .5;
  font-weight: normal;
}

input, select, textarea {
  width: 100%;
}

input:focus, select:focus {
  border: 1px solid #5299d3!important;
}


.submit {
  margin-top: 15px;
  margin-bottom: 50px;
  cursor: pointer;
  background-color: transparent;
  border: solid #5299D3 2px;
  font-size: 1em;
  text-align: center;
  border-radius: 100px;
  color: #5299D3;
  transition: all .3s;
  outline: none;
}

.submit:hover {
  color: #f6f9fe;
  background-color: #5299D3;

  border: solid #5299D3 2px;
}
