.body-wrap {
  overflow:hidden;
}

#hc-flag {
  background: url(/img/hackclub_flag.svg) center top no-repeat;
  background-position: center top;
  width: 10rem;
  height: 4rem;
  position: absolute;
  left: -5%;
  top: -3.05rem;
}

/********** common setting **********/

strong, b, .bold {
  font-weight: 700 !important;
}

h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

.text-blue {
  color: #5299d3;
}

img {
  border-radius: 20px;
}

a, button {
  cursor: pointer;
  text-decoration: none !important;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.jumbotron#banner {
  background-image: url(/img/bg.png);
  background-position: bottom;
}

hl {
  color: #5299d3;
}

.jumbotron p {
  line-height: 2;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

.cta-blue {
  background: #5299d3;
  color: #ffffff;
}

.cta-blue:hover {
  color: #ffffff;
  background: #4076bb;
}

.cta-ghost {
  border: 2px solid #192440 !important;
  color: #192440;
}

.cta-ghost:hover {
  color: #ffffff;
  background: #121a2e;
}

#banner {
  background-size: cover;
}

#tagline a {
  color: #4076BB;
}

/********** signup overlay **********/

.swal-footer {
  text-align: center !important;
  margin-bottom: 1.5rem;
}

.swal-text {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif  !important;
  font-size: 1.15rem !important;
  font-weight: 600;
}

.swal-button {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
  font-size: 1rem;
  font-weight: 700 !important;
  border-radius: 50px;
  background: #5299d3;
  transition: .3s ease-in-out !important;
}

.swal-button:hover {
  background: #4076bb;
}

/********** banner **********/

#banner header {
  overflow: hidden;
}

#banner h1 {
  line-height: 1.2!important;
}

#banner header .col-2 {
  flex: none!important;
  max-width: none;
}

#banner header img {
  max-width: 160px !important;
  border-radius: 0!important;
}

.mx-auto.events {
  max-width: 128px;
  margin-bottom: 15px;
}

/********** feature (skew background) **********/

.feature img {
  width: 100%;
  max-width: 480px;
}

#feature-top {
  background: #fff;
}

#feature-first {
  background: linear-gradient(168deg,#fff 55%,#f7f9fe 0)
}

#feature-last {
  background: #f7f9fe;
}

/********** price table **********/

#referral-program {
  padding-top: 4rem !important;
  padding-bottom: 0rem !important;
  margin-bottom: 0rem !important;
}

#referral-program div {
  border-radius:10px;
  padding: 5px 10px 5px 10px;
  margin-top: 0!important;
}

#price-table_basic .inner-wrapper {
  background: linear-gradient(168deg,rgba(82, 153, 211, 0.05) 55%,rgba(82, 153, 211, .1) 0);
  color: #5299d3;
}

#price-table_plus .inner-wrapper {
  background: linear-gradient(168deg,rgba(82, 153, 211, .1) 55%,rgba(82, 153, 211, .2) 0);
  color: #5299d3;
}

#price-table__premium .inner-wrapper {
  background: linear-gradient(168deg,rgba(82, 153, 211, .2) 55%,rgba(82, 153, 211, .3) 0);
  color: #5299d3;
}

#referral-program ul li {
  padding: 5px 0;
}

/********** schedule **********/

#schedule {
  margin-top: 0rem !important;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

table {
  font-size: 1rem;
  overflow: hidden;
}

tr.ws {
  font-weight: 600;
}

.tip {
  color: #4076bb!important;
}

tr > * {
  padding: 0.7rem 0.2rem !important;
}

/********** judges **********/

figure .judge-content {
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(82,153,211, .3);
}

figure .judge-content a {
  color: #4076bb;
}

figure img {
  border-radius: 50%;
  border: 3px solid #5299d3;
  height: 7.3rem;
}

#judges figcaption {
  font-size: 1.1rem;
}

.ee {
  color: #000!important;
}

/********** contact **********/

#contact {
  background-size: cover;
}

#contact ul li {
  padding: 3px 0;
}

#contact form {
  color: #00FFAD;
}

#contact form input, #contact form textarea {
  background: transparent;
  border: 1px solid #00FFAD;
  color: #ffffff;
}

/********** copyright **********/

#copyright {
  background: #f7f9fe;
  padding: 2rem 3rem 4rem;
}

#copyright #social-media a {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  background: #ffffff;
  transition: .4s ease;
}

#copyright #social-media a i {
  color: #192440;
  font-size: 1.2rem;
  line-height: 40px;
}

#copyright #social-media a:hover {
  background: #5299d3;
}

#copyright #social-media a:hover i {
  color: #ffffff;
}

/********** RWD **********/

@media (max-width: 575px) {
  #banner h1 {
    font-size: 3.2rem;
  }
  #banner p {
    font-size: 1rem;
  }
}

/* Sponsor Section Styling */
#sponsors img {
  border-radius: 0!important;
}

/* Sponsor Section Styling */

#sponsors {
  margin: 0;
  padding: 0px 20px 30px 20px;
  text-align: center;
  background: linear-gradient(168deg,#fff 55%,#f7f9fe 0);
}

#sponsors .sponsor-div, #sponsor-major, #sponsor-minor, #sponsor-middle {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  max-width: 1100px;
  margin: auto;
}

#sponsors a {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

#sponsors .lead {
  margin-top: 35px!important;
}

#sponsors .partner {
  box-sizing: border-box;
  display: block;
  width: 250px;
  height: auto;
  margin: 25px;
}

#sponsor-major .sponsor {
  box-sizing: border-box;
  display: block;
  width: 320px;
  height: auto;
  margin: 25px;
}

#sponsor-middle .sponsor {
  box-sizing: border-box;
  display: block;
  width: 195px;
  height: auto;
  margin: 25px;
}

#sponsor-minor .sponsor {
  box-sizing: border-box;
  display: block;
  width: 145px;
  height: auto;
  margin: 25px;
}

#additional-support {
  width: 100%;
  display: inline-block;
  z-index: 100;
  text-align: center;
  align-items: center;
}

#additional-support a:hover {
    transform: scale(1)!important;
}

#additional-support .sponsor {
  vertical-align: middle;
  display: inline-block;
  width: 180px;
  height: auto;
  margin: 25px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

#additional-support .sponsor:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

#ref {
  display: none;
  color: #5299d3;
  margin-left: 10px;
}

#ref.show {
  display: inline!important;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.2rem!important;
  }

  header .col-2 {
    width: 100% !important;
    flex: none;
    max-width: none;
    visibility:hidden;
    height:1.2rem;
  }
  #banner header img {
    width: 130px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
  #banner h1 {
    margin-top: 0 !important;
    font-size: 2.6rem;
  }

  #banner .apply-link {
    margin-bottom: 10px!important;
    margin-top: 0px !important;
  }

  #sponsors {
    padding: 0px 8px 10px 8px;
  }

  .sponsor {
    width: 65vw!important;
    height:auto!important;
    margin: 10px!important;
    max-width: 200px;
  }

  #ref {
    line-height: 1.5;
  }

  #ref.show {
    display: block!important;
  }

  #referral-program{
    max-width: 95%;
  }

  #referral-program div {
    margin-top: 10px!important;
    border-radius: 10px;
  }

  #referral-program .display-2 {
    font-size: 4.5rem;
  }

  #referral-program div ul .desc {
    display: none!important;
  }
}
