header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #f6f9fe;
}

.frontrow {
  height: 100vh;
  width: 100%;
  background-image: url('../img/frontrow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  position: absolute;
  z-index: 4;
}

.middlerow {
  height: 100vh;
  width: 100%;
  background-image: url('../img/middlerow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: absolute;
  z-index: 2;
}

.backrow {
  height: 100vh;
  width: 100%;
  background-image: url('../img/backrow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: absolute;
  z-index: 1;
}

@media (max-width: 420px) {
  .frontrow {
    background-size: 250% auto;
    background-position: bottom;
  }
  .middlerow {
    background-size: 260% auto;
    background-position: left bottom;
  }
  .backrow {
    background-size: 300% auto;
    background-position: left bottom;
  }
}

.center {
  position: absolute;
  z-index: 5;
  width: 380px;
  left: 50%;
  margin-left: -193px;
  border: solid #5299D3 3px;
  height: 486px;
  top: 50vh;
  margin-top: -246px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.center img {
  width: 90%;
  height: auto;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

.center h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  padding: 0 20px 0 20px;
  color: #5299D3;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 12px;
}

.center .date {
  margin: 0;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: 6px;
  color: #5299D3;
  opacity: 0.85;
}

.center sup {
  vertical-align: text-top;
  font-size: .85em;
}

.signup {
  border: solid #5299D3 3px;
  margin-top: 24px;
  width: 320px;
  height: 40px;
  border-radius: 23px;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s;
}

.signup input {
  background-color: transparent;
  border: none;
  font-size: .95em;
  outline: none;
  height: 38px;
  color: #5299D3;
  width: 190px;
  position: relative;
  left: 5px;
}

.signup button {
  cursor: pointer;
  background-color: transparent;
  border: solid #5299D3 2px;
  height: 36px;
  width: 110px;
  font-size: .8em;
  font-weight: 500;
  border-radius: 19px;
  color: #5299D3;
  text-transform: uppercase;
  position: relative;
  top: -2px;
  right: -5px;
  transition: all .3s;
  outline: none;
}

.signup button:hover {
  color: #f6f9fe;
  background-color: #5299D3;
}

::-webkit-input-placeholder {
  color: #5299D3;
}
::-moz-placeholder {
  color: #5299D3;
}
:-ms-input-placeholder {
  color: #5299D3;
}
:-moz-placeholder {
  color: #5299D3;
}

@media (max-width: 405px) {
  .center {
    border: none;
    width: 100%;
    left: 0;
    height: auto;
    top: 0;
    margin: 0;
  }

  .center img {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 40px;
  }

  .center h2 {
    font-size: 1.15em;
  }

  .signup {
    width: 290px;
  }

  .signup input {
    width: 170px;
  }

  .signup button {
    width: 100px;
  }
}

.succ {
  text-align: center;
  color: #5299D3;
  text-transform: uppercase;
  font-size: .95em;
  margin: 0;
  margin-top: 11px;
  font-weight: 500;
}
