.hero-body {
  background-color: #f6f9fe;
  border-bottom: 5px solid #5299d3;
}

.navbar {
  background-color: #f6f9fe;
}

.header {
  text-align: center;
  position: relative;
}

.header img {
  width: 25em;
}

.header h2 {
  font-size: 6vmin;
  letter-spacing: 0;
  color: #5299d3!important;
  font-weight: 600;
  padding-top: 15px;
}

.header .columns {
  width: auto!important;
}

.header .column {
  margin: 0!important;
}

.header .title {
  margin-top: 25px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 4px 50px 4px 50px;
  width: 180px;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  border: solid #5299D3 2px;
  font-size: 1.2em;
  text-align: center;
  border-radius: 100px;
  color: #5299D3!important;
  transition: all .3s;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}

.btn:hover {
  color: #fff!important;
  background-color: #5299D3;
}

hl {
  display: inline;
}
